// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-container {
  width: 750px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.letters {
  display: flex;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  margin: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

a {
  color: #A1CDA8;
}

a:hover {
  color: #D3D0CB;
}
